/* Inter Thin - 100 */
@font-face {
  font-family: "Inter";
  src: url("../../assets/image/fonts/Inter/inter/Inter-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Inter ExtraLight - 200 */
@font-face {
  font-family: "Inter";
  src: url("../../assets/image/fonts/Inter/inter/Inter-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* Inter Light - 300 */
@font-face {
  font-family: "Inter";
  src: url("../../assets/image/fonts/Inter/inter/Inter-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Inter Regular - 400 */
@font-face {
  font-family: "Inter";
  src: url("../../assets/image/fonts/Inter/inter/Inter-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Inter Medium - 500 */
@font-face {
  font-family: "Inter";
  src: url("../../assets/image/fonts/Inter/inter/Inter-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Inter SemiBold - 600 */
@font-face {
  font-family: "Inter";
  src: url("../../assets/image/fonts/Inter/inter/Inter-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Inter Bold - 700 */
@font-face {
  font-family: "Inter";
  src: url("../../assets/image/fonts/Inter/inter/Inter-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Inter ExtraBold - 800 */
@font-face {
  font-family: "Inter";
  src: url("../../assets/image/fonts/Inter/inter/Inter-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Inter Black - 900 */
@font-face {
  font-family: "Inter";
  src: url("../../assets/image/fonts/Inter/inter/Inter-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}
